.vscode/**
.vscode-test/**
.prettierignore
.gitignore
.yarnrc
.env.*
*.prettierrc.json

vshpc.demo.json

src/**
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/webview
node_modules
out/*.js
out/*.map
out/panels/*
out/test/*
out/test/suite/*
out/utilities/*

!out/extension.js

